/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, Arial, sans-serif;
}

/* BACKGROUND */
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: url("/O-Ultimo-Cavaleiro/img/cenarios/background-cadastro.png") no-repeat center center/cover;
    color: #e6e6e6;
}

/* OVERLAY */
#container {
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px;

    background: rgba(10, 10, 12, 0.253);
}

/* CARD */
main {
    width: 400px;
    padding: 35px;

    background: rgba(20, 20, 22, 0.377);
    border: 1px solid rgba(230, 192, 104, 0.651);
    border-radius: 12px;

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}

/* TÍTULO */
h1 {
    text-align: center;
    margin-bottom: 30px;

    color: #FFD700;
    letter-spacing: 2px;
    font-size: 30px;
}

/* FORM */
#form-cadastro {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

/* LABEL */
label {
    color: #d1ab52;
    font-weight: 600;
}

/* INPUT */
input {
    padding: 12px;

    background: rgba(255, 255, 255, 0.39);
    color: #ffffff;

    border: 1px solid rgba(230, 192, 104, .35);
    border-radius: 8px;

    outline: none;

    transition: .25s;
}

input::placeholder {
    color: #ffffea;
}

input:focus {
    border-color: #FFD700;
    box-shadow: 0 0 10px rgba(230, 192, 104, .35);
}

/* BOTÃO */
button {
    margin-top: 10px;

    padding: 12px;

    background: #151518;
    color: #fff;

    border: 1px solid #E6C068;
    border-radius: 8px;

    font-size: 15px;
    font-weight: 600;

    cursor: pointer;
    transition: .25s;
}

button:hover {
    background: #1c1c20;
    border-color: #FFD700;
    transform: translateY(-2px);
}

/* LINK */
a {
    display: block;

    margin-top: 18px;
    text-align: center;

    color: #E6C068;
    text-decoration: none;

    transition: .25s;
}

a:hover {
    color: #FFD700;
}

#msgAlert {
    min-height: 22px;

    margin-top: 15px;
    padding: 10px;

    border-radius: 8px;

    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #FFD700;

    transition: .25s;
}

/* RESPONSIVO */
@media (max-width: 500px) {

    #container {
        padding: 20px;
    }

    main {
        width: 100%;
        padding: 25px;
    }

    h1 {
        font-size: 26px;
    }
}